In [1]:
import pandas as pd
import numpy as np

In [3]:
import os
os.getcwd()

'c:\\Users\\ourha\\OneDrive\\Desktop\\documents\\website\\my_website'

In [4]:
data = pd.read_csv('original_data\dataset_prepared.csv')

In [5]:
data.head()

,Unnamed: 0,"Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Maximum)","pH, water, unfiltered, field, standard units (Maximum)","pH, water, unfiltered, field, standard units (Minimum)","Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Minimum)","Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Mean)","Dissolved oxygen, water, unfiltered, milligrams per liter (Maximum)","Dissolved oxygen, water, unfiltered, milligrams per liter (Mean)","Dissolved oxygen, water, unfiltered, milligrams per liter (Minimum)","Temperature, water, degrees Celsius (Mean)","Temperature, water, degrees Celsius (Minimum)","Temperature, water, degrees Celsius (Maximum)",Water Quality,Training,Location ID,Date
0,0,0.001131,0.884615,0.001120,0.001113,0.677632,0.841463,0.765152,0.787402,0.293750,0.298077,0.276163,0.648148,True,2198840,2016-01-28
1,1,0.001170,0.871795,0.001159,0.001152,0.703947,0.829268,0.772727,0.795276,0.293750,0.301282,0.276163,0.648148,True,2198920,2016-01-28
2,2,0.001326,0.884615,0.001198,0.001250,0.677632,0.853659,0.750000,0.755906,0.300000,0.298077,0.287791,0.648148,True,2198950,2016-01-28
3,3,0.014094,0.858974,0.001238,0.003926,0.697368,0.829268,0.772727,0.771654,0.296875,0.294872,0.279070,0.638889,True,2203603,2016-01-28
4,4,0.088109,0.858974,0.010766,0.029297,0.684211,0.853659,0.765152,0.755906,0.296875,0.291667,0.281977,0.648148,True,2203655,2016-01-28

In [6]:
data[2:3].values

array([[2, 0.0013255360623781, 0.8846153846153847, 0.0011984282907662,
        0.00125, 0.6776315789473685, 0.853658536585366,
        0.7500000000000001, 0.7559055118110236, 0.3, 0.2980769230769231,
        0.2877906976744186, 0.6481481481481481, True, 2198950,
        '2016-01-28']], dtype=object)

In [7]:
# X.head()

NameError: name 'X' is not defined

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

# Load data
data = pd.read_csv("original_data\dataset_prepared.csv")

# Handle missing values (if any)

# Separate features and label
X = data.drop("Water Quality", axis=1)  # Features
X = X.drop("Unnamed: 0", axis=1)
X = X.drop("Location ID", axis=1)
X = X.drop("Date", axis=1)
X['Training'] = X['Training'].astype(int)
X.columns

Index(['Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Maximum)',
       'pH, water, unfiltered, field, standard units (Maximum)',
       'pH, water, unfiltered, field, standard units (Minimum)',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Minimum)',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Mean)',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Maximum)',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Mean)',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Minimum)',
       'Temperature, water, degrees Celsius (Mean)',
       'Temperature, water, degrees Celsius (Minimum)',
       'Temperature, water, degrees Celsius (Maximum)', 'Training'],
      dtype='object')

In [16]:
Z = data.drop("Unnamed: 0", axis=1)
Z = Z.drop("Location ID", axis=1)
new_column_names= {
        'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Maximum)': 'spec_cond_max',
       'pH, water, unfiltered, field, standard units (Maximum)': 'ph_max',
       'pH, water, unfiltered, field, standard units (Minimum)': 'ph_min',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Minimum)': 'spec_cond_min',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Mean)': 'spec_cond_mean',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Maximum)': 'dissolved_oxy_max',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Mean)': 'dissolved_oxy_mean',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Minimum)': 'dissolved_oxy_min',
       'Temperature, water, degrees Celsius (Mean)': 'temp_mean',
       'Temperature, water, degrees Celsius (Minimum)': 'temp_min',
       'Temperature, water, degrees Celsius (Maximum)': 'temp_max', 
       'Training': 'training',
       'Water Quality': 'water_quality',
       'Date': 'date'
       }
Z = Z.rename(columns=new_column_names)
Z.head()

,spec_cond_max,ph_max,ph_min,spec_cond_min,spec_cond_mean,dissolved_oxy_max,dissolved_oxy_mean,dissolved_oxy_min,temp_mean,temp_min,temp_max,water_quality,training,date
0,0.001131,0.884615,0.001120,0.001113,0.677632,0.841463,0.765152,0.787402,0.293750,0.298077,0.276163,0.648148,True,2016-01-28
1,0.001170,0.871795,0.001159,0.001152,0.703947,0.829268,0.772727,0.795276,0.293750,0.301282,0.276163,0.648148,True,2016-01-28
2,0.001326,0.884615,0.001198,0.001250,0.677632,0.853659,0.750000,0.755906,0.300000,0.298077,0.287791,0.648148,True,2016-01-28
3,0.014094,0.858974,0.001238,0.003926,0.697368,0.829268,0.772727,0.771654,0.296875,0.294872,0.279070,0.638889,True,2016-01-28
4,0.088109,0.858974,0.010766,0.029297,0.684211,0.853659,0.765152,0.755906,0.296875,0.291667,0.281977,0.648148,True,2016-01-28

In [19]:
Z['spec_cond_max'].max()

1.0

In [17]:
Z.to_csv("original_data/dataset_mod.csv")

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

# Load data
data = pd.read_csv("original_data\dataset_prepared.csv")

# Handle missing values (if any)

# Separate features and label
X = data.drop("Water Quality", axis=1)  # Features
X = X.drop("Unnamed: 0", axis=1)
X = X.drop("Location ID", axis=1)
X = X.drop("Date", axis=1)
X['Training'] = X['Training'].astype(int)
new_column_names= {
        'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Maximum)': 'spec_cond_max',
       'pH, water, unfiltered, field, standard units (Maximum)': 'ph_max',
       'pH, water, unfiltered, field, standard units (Minimum)': 'ph_min',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Minimum)': 'spec_cond_min',
       'Specific conductance, water, unfiltered, microsiemens per centimeter at 25 degrees Celsius (Mean)': 'spec_cond_mean',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Maximum)': 'dissolved_oxy_max',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Mean)': 'dissolved_oxy_mean',
       'Dissolved oxygen, water, unfiltered, milligrams per liter (Minimum)': 'dissolved_oxy_min',
       'Temperature, water, degrees Celsius (Mean)': 'temp_mean',
       'Temperature, water, degrees Celsius (Minimum)': 'temp_min',
       'Temperature, water, degrees Celsius (Maximum)': 'temp_max', 
       'Training': 'training'
       }
X = X.rename(columns=new_column_names)

y = data["Water Quality"]  # Label (numerical)
# Encode categorical features (if any)

# Scale numerical features
# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(X)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Choose and train the model (Random Forest Regressor)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluation
y_pred = model.predict(X_test)

# Use regression evaluation metrics like R-squared, Mean Squared Error (MSE)
from sklearn.metrics import r2_score, mean_squared_error

print("R-squared:", r2_score(y_test, y_pred))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))

R-squared: 0.9106341025478233
Mean Squared Error: 7.423003184429471e-05

In [14]:
X.columns , y.name

(Index(['spec_cond_max', 'ph_max', 'ph_min', 'spec_cond_min', 'spec_cond_mean',
        'dissolved_oxy_max', 'dissolved_oxy_mean', 'dissolved_oxy_min',
        'temp_mean', 'temp_min', 'temp_max', 'training'],
       dtype='object'),
 'Water Quality')

In [36]:
X_test.head()

,spec_cond_max,ph_max,ph_min,spec_cond_min,spec_cond_mean,dissolved_oxy_max,dissolved_oxy_mean,dissolved_oxy_min,temp_mean,temp_min,temp_max,training
19009,0.005127,0.910256,0.004361,0.004941,0.480263,0.878049,0.530303,0.527559,0.746875,0.746795,0.720930,0
11742,0.002183,0.923077,0.002161,0.002188,0.763158,0.878049,0.856061,0.858268,0.168750,0.134615,0.191860,1
12892,0.008421,0.884615,0.002456,0.003496,0.789474,0.853659,0.878788,0.866142,0.159375,0.115385,0.203488,1
13063,0.009298,0.858974,0.001847,0.003867,0.605263,0.829268,0.681818,0.677165,0.378125,0.368590,0.375000,1
14441,0.003957,0.897436,0.003595,0.003652,0.828947,0.865854,0.734848,0.661417,0.425000,0.371795,0.447674,1

In [42]:
X_test.iloc[0].to_dict()

{'spec_cond_max': 0.0051267056530214,
 'ph_max': 0.9102564102564102,
 'ph_min': 0.0043614931237721,
 'spec_cond_min': 0.00494140625,
 'spec_cond_mean': 0.4802631578947368,
 'dissolved_oxy_max': 0.878048780487805,
 'dissolved_oxy_mean': 0.5303030303030303,
 'dissolved_oxy_min': 0.5275590551181103,
 'temp_mean': 0.746875,
 'temp_min': 0.7467948717948718,
 'temp_max': 0.7209302325581396,
 'training': 0.0}

In [40]:
pred_1 = model.predict(pd.DataFrame(X_test[:1]))
pred_1

array([0.6762037])

In [43]:
import pickle

In [44]:
# Save the model 
pickle.dump(model, open('webapp/model/water_quality.pkl', 'wb'))

In [45]:
model = pickle.load(open('webapp/model/water_quality.pkl', 'rb'))

In [50]:
orange ={'spec_cond_max': 0.0051267056530214,
            'ph_max': 0.9102564102564102,
            'ph_min': 0.0043614931237721,
            'spec_cond_min': 0.00494140625,
            'spec_cond_mean': 0.4802631578947368,
            'dissolved_oxy_max': 0.878048780487805,
            'dissolved_oxy_mean': 0.5303030303030303,
            'dissolved_oxy_min': 0.5275590551181103,
            'temp_mean': 0.746875,
            'temp_min': 0.7467948717948718,
            'temp_max': 0.7209302325581396,
            'training': 0}
data = pd.DataFrame([orange])
data

,spec_cond_max,ph_max,ph_min,spec_cond_min,spec_cond_mean,dissolved_oxy_max,dissolved_oxy_mean,dissolved_oxy_min,temp_mean,temp_min,temp_max,training
0,0.005127,0.910256,0.004361,0.004941,0.480263,0.878049,0.530303,0.527559,0.746875,0.746795,0.72093,0

In [48]:
model.predict(pd.DataFrame([X_test.iloc[0]]))

array([0.6762037])

In [69]:
column_rename_mapping = {
       'Site Name': 'location_name',
       'Decimal latitude': 'latitude',
       'Decimal longitude':'longitude'
}
value =pd.read_excel('./webapp/water_quality_locations.xlsx',usecols=['Site Name',
       'Decimal latitude', 'Decimal longitude'], sheet_name='locations')
variable.columns = ['location_name', 'latitude', 'longitude']

In [71]:
column_rename_mapping.values()

dict_values(['location_name', 'latitude', 'longitude'])

In [70]:
value.head()

                                      location_name   latitude  longitude
0       SAVANNAH RIVER I-95 NEAR PORT WENTWORTH, GA  32.235472 -81.151083
1    SAVANNAH RIVER AT GA 25, AT PORT WENTWORTH, GA  32.165333 -81.154917
2       MIDDLE RIVER AT GA 25 AT PORT WENTWORTH, GA  32.165722 -81.137972
3    SOUTH RIVER AT SPRINGDALE ROAD, AT ATLANTA, GA  33.683889 -84.415278
4  SOUTH RIVER AT FORREST PARK ROAD, AT ATLANTA, GA  33.678917 -84.358139